Source: s6-dns
Section: net
Priority: optional
Maintainer: multi <multi@in-addr.xyz>
Build-Depends: debhelper (>= 10), quilt, libskarnet-dev (>= 2.10.0.3)
Standards-Version: 3.9.8
Homepage: https://skarnet.org/software/s6-dns/

Package: s6-dns
Architecture: any
Section: net
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: DNS client libraries and command-line DNS client utilities
 s6-dns is a suite of DNS client programs and libraries for Unix systems,
 as an alternative to the BIND, djbdns or other DNS clients.
 .
 This package contains the s6-dns client utilities.

Package: libs6dns2.3
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: DNS client libraries and command-line DNS client utilities (runtime libraries)
 s6-dns is a suite of DNS client programs and libraries for Unix systems,
 as an alternative to the BIND, djbdns or other DNS clients.
 .
 This package contains the s6-dns runtime libraries for protocol
 implementation and synchronous resolution.

Package: libskadns2.3
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: DNS client libraries and command-line DNS client utilities (asynchronous resolution libraries)
 s6-dns is a suite of DNS client programs and libraries for Unix systems,
 as an alternative to the BIND, djbdns or other DNS clients.
 .
 This package contains the s6-dns runtime libraries for asynchronous
 resolution.

Package: libdcache2.3
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}, libskarnet2.10 (>= 2.10.0.3)
Description: DNS client libraries and command-line DNS client utilities (caching data structures)
 s6-dns is a suite of DNS client programs and libraries for Unix systems,
 as an alternative to the BIND, djbdns or other DNS clients.
 .
 This package contains the s6-dns runtime libraries for DNS caching
 data structures.

Package: libs6dns-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends:
 ${misc:Depends},
 libs6dns2.3 (= ${binary:Version}),
 libskadns2.3 (= ${binary:Version}),
 libdcache2.3 (= ${binary:Version}),
 libskarnet-dev (>= 2.10.0.1)
Description: DNS client libraries and command-line DNS client utilities (development files)
 s6-dns is a suite of DNS client programs and libraries for Unix systems,
 as an alternative to the BIND, djbdns or other DNS clients.
 .
 This package contains the s6-dns development files.
